{% raw %}
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>Register</h1>
  <br/>
  <form id="registerForm" class="form form-register" method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="large-12 columns">
        {{form.username.label}}
        {{form.username(placeholder="Username", class_="form-control")}}
      </div>
      <div class="large-12 columns">
        {{form.email.label}}
        {{form.email(placeholder="Email", class_="form-control")}}
      </div>
      <div class="large-12 columns">
        {{form.password.label}}
        {{form.password(placeholder="Password", class_="form-control")}}
      </div>
      <div class="large-12 columns">
        {{form.confirm.label}}
        {{form.confirm(placeholder="Password (again)", class_="form-control")}}
      </div>
      <div class="large-12 columns">
        <button type="submit" class="expand">Register</button>
      </div>
    </div>
  </form>
  <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
</div>
{% endblock %}
{% endraw %}
